# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Executable files
*.exe
*.out
*.app

# C++ backup files
*~
*.bak
*.tmp

# Build directories
/build/
/bin/
/Debug/
/Release/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code settings
.vscode/

# CLion or JetBrains IDEs
.idea/
cmake-build-*/

# Other
*.log
node_modules
requests.http